* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fredericka+the+Great&family=Great+Vibes&family=Pacifico&family=Sacramento&family=Satisfy&display=swap');

body {
    background: radial-gradient(circle closest-side at 700px 170px, rgba(223, 218, 218, 0.5), rgba(29, 8, 17, 0.9)),
        url('./carolina-marinelli-PkbyxvkGWcU-unsplash.jpg');
    background-size: cover;
}

#content {
    min-height: calc(100vh - 50px);
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px ridge #D8BE07;
    padding: 10px 20px;
    background: #a9040a75;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0.5px;
    background: #a9040a;
    transition: all 0.2s ease;
}

h1 {
    color: #D8BE07;
    text-transform: capitalize;
    font-family: 'Great Vibes', cursive;
    text-shadow: 8px 5px 4px rgba(9, 0, 20, 0.8);
    /* font-family: 'Alex Brush', cursive; */
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Sacramento', cursive; */
    /* font-family: 'Satisfy', cursive; */
    font-size: 3.3rem;
    font-weight: 900;
    align-self: center;
    margin: 0 50px;
}

header nav {
    align-self: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    display: inline;
}

header li:last-of-type {
    margin-right: 0;
}

header a {
    display: inline-block;
    padding: 8px 30px;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: capitalize;
}

header a:link,
header a:visited {
    color: #EBD489;
}

header a:hover,
header a:active {
    background-color: #EBD489;
    color: #a9040a;
    text-decoration: underline;
    border-radius: 3px;
}

.welcome-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 500px;
    margin: 40px auto 0;
    padding: 50px;
    background-color: #d8c0079b;
    border: 2px groove whitesmoke;
    border-radius: 16px;
    box-shadow:
        inset 0 -2px 3px 50px rgba(9, 0, 20, 0.8);
}

.welcome-info p {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 900;
    text-shadow: 6px 7px 8px rgba(9, 0, 20, 0.8);
    font-family: 'Sacramento', cursive;
}

.welcome-info span {
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #EDE5CC;
    background-color: #a9040a;
    padding: 5px 10px;
}

.motto {
    color: #EDE5CC;
    border-radius: 4px;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-style: italic;
}

.order-btn {
    padding: 10px;
    color: #a9040a;
    background-color: #EBD489;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    font-weight: 800;
    text-transform: capitalize;
}

.order-btn:hover {
    color: #EDE5CC;
    background-color: #a9040a;
    text-decoration: underline;
    border: 2px groove #EBD489;
}

.order-btn:active {
    color: #a9040a;
    background-color: #EDE5CC;
    border: none;
    box-shadow: inset 2px 3px 1px 1px rgba(0, 0, 0, 0.7),
        2px -2px 4px -6px rgba(250, 247, 248, 0.623);
}

.location-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 12px 12px 6px 0 rgba(0, 0, 0, 0.92),
        -8px 2px 9px 0 rgba(255, 255, 255, 0.1);
}

.location-info p {
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #D8BE07;
    text-shadow: 5px 13px 8px rgba(9, 0, 20, 0.9);
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 800;
    font-family: 'Fredericka the Great', cursive;
}

.location-info ul {
    align-self: center;
}

.location-info li {
    text-transform: capitalize;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.2rem;
    font-weight: 800;
    text-shadow: 6px 7px 8px rgba(9, 0, 20, 0.8);
    color: #EBD489;
}

footer {
    width: 100%;
    background-color: #a9040a;
    color: #EDE5CC;
    text-align: center;
    padding: 15px;
    height: 70px;


}

footer p {
    padding-bottom: 15px;
    /* color: #EDE5CC; */
    font-weight: 800;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    text-shadow: 6px 7px 8px rgba(9, 0, 20, 0.8);
}

footer i {
    color: #EDE5CC;
}

.menu-container {
    display: flex;
    background: rgba(184, 128, 162, 0.3);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px 200px;
    border: 1px solid #aaa;
    border-radius: 15px;
}

.menu-item {
    margin: 50px 50px 0;
    background-color: blueviolet;
}

.menu-item>span {
    color: hsl(287, 39%, 95%);
    text-align: center;
}