* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle closest-side at 700px 170px, rgba(223, 218, 218, 0.3), rgba(29, 8, 17, 0.7)),
        /* radial-gradient(circle at right, rgba(46, 1, 1, 0.6), rgb(234, 241, 234) 10%), */
        url('./carolina-marinelli-PkbyxvkGWcU-unsplash.jpg');
    /* background: radial-gradient(circle closest-side, top right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./carolina-marinelli-PkbyxvkGWcU-unsplash.jpg'); */
    background-size: cover;
}

h1 {
    color: bisque;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


header li {
    display: inline;
}

header a {
    padding: 8px;
    background-color: #dddddd;
}

.welcome-info p {
    color: antiquewhite;
}

.location-info {
    color: #dddddd;
}

.menu {
    display: flex;
    background: rgba(184, 128, 162, 0.3);
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 200px;
    border: 1px solid #aaa;
    border-radius: 15px;
}


.menu-item {
    margin: 50px 50px 0;
    background-color: blueviolet;
}


.menu-item>span {
    color: hsl(287, 39%, 95%);
    /* display: block; */
    text-align: center;
}